.cardWrapper {
    position: relative;
    min-width: 100px;
    max-width: 300px;
    box-shadow: 0 0 4px -1px #252525c1;
    border-radius: 8px;
    transition: box-shadow .15s,-webkit-box-shadow .15s;
    font-family: 'poppins';
}
.cardWrapper:hover {
    box-shadow: 0 0 10px 1px #2525258b;
}
.imgWrapper img{
    max-width: 100%;
    height: 170px;
    border-radius: 8px 8px 0 0;
}
.details {
    min-height: 100px;
    padding: 16px;
}
.heading {
    padding-top: 10px;
    font-weight: bolder;
}
.description {
    padding-top: 4px;
    font-size: 14px;
    color: var(--primary-blue);
}