.education {
    position: relative;
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 80px 70px 50px 70px;
    background: white;
    color: var(--slate-black);
}
.education h1 {
    left: 70px;
    font-size: 10rem;
    margin: 0;
}

@media (max-width: 767px) {
    .education h1 {
        font-size: 3rem;
    }
    .education {
        padding: 80px 16px 50px 16px;
    }
}