::selection {
    color: white;
    background: var(--slate-black);
}
.experience {
    position: relative;
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 80px 70px 50px 70px;
    background: white;
    color: var(--slate-black);
}

.experience h1 {
    left: 70px;
    font-size: 10rem;
    margin: 0;
}

/* .timeline{
    overflow-x: scroll;
    overflow-y: hidden;
} */
.timeline ul{
    width: 100%;
}

@media screen and (max-width: 770px) and (min-width: 200px) {
    .experience h1 {
        font-size: 3rem;
    }
    /* work for the experience timeline here */
    .timeline {
        display: none;
    }
}

@media screen and (max-width: 1000px) and (min-width: 770px) {
    .experience h1 {
        font-size: 8rem;
    }
}