@font-face {
    font-family: 'autography';
    src: url("../assets/fonts/autography/FontsFree-Net-Autography.ttf") format('truetype');
}
.navWrapper {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 5;
    width: 100%;
    height: 40px;
    padding-left: 70px;
    padding-top: 20px;
    background: transparent;
    /* outline: 2px solid white; */
    color: white;
    display: flex;
    /* flex-direction: column; */
    /* justify-content: flex-end; */
    transition: ease-in-out .2s;
}
a {
    text-decoration: none;
    color: inherit;
}
.navWrapper div {
    font-family: "Poppins";
    display: flex;
    align-items: center;
    /* writing-mode: vertical-rl; */
    width: auto;
    padding: 0 16px 0 16px;
    /* border-bottom: 2px solid white; */
    cursor: pointer;
}
.navWrapper.slateTheme {
    background: white;
}
.navWrapper.slateTheme div {
    color: var(--slate-black);
}
.navWrapper.whiteTheme div {
    color: white;
}
.navWrapper.whiteTheme .hamburger div {
    background: white;
}
.navWrapper.whiteTheme {
    background: transparent;
}
.brand {
    font-family: 'autography' !important;
    font-size: 40px;
    font-weight: bolder;
    padding-top: 24px;
    color: var(--slate-black);
}
.navWrapper.whiteTheme div:hover{
    color: var(--primary-blue);
}
.navWrapper div:hover{
    color: var(--secondary-blue);
}
.noWrap {
    width: max-content;
}
.hamburger {
    display: none;
    z-index: 7;
}

@media screen and (max-width: 770px) and (min-width: 200px) {
    .navWrapper .brand {
        padding-left: 20px;
        padding-top: 20px;
    }
    .navWrapper .brand:hover {
        color: var(--slate-black);
    }
    .hamburger
    {
        display: block !important;
        padding: 10px 20px 10px 20px !important;
    }
    .line1, .line2, .line3 {
        width: 25px !important;
        height: 4px;
    }
    .toggle .line1{
        transform: rotate(-45deg) translate(-5px, 6px);
    }
    .toggle .line2{
        opacity: 0;
    }
    .toggle .line3{
        transform: rotate(45deg) translate(-5px, -6px);
    }
    .hamburger div {
        width: 25px;
        height: 3px;
        background-color: #242a2c;
        margin: 5px;
        transition: all 0.3s ease;
        border-radius: 58em;
        box-shadow: 0 0 10px rgba(77, 77, 77, 0.7);
    }
    .navWrapper {
        padding: 10px 0 0 0;
        display: flex;
        justify-content: space-between;
    }
    .navWrapper div {
        padding: 0;
    }
    .navWrapper .nav_links {
        display: none;
    }
}