@font-face {
    font-family: 'autography';
    src: url("../assets/fonts/autography/FontsFree-Net-Autography.ttf") format('truetype');
}
.navWrapper {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 40px;
    padding-left: 70px;
    padding-top: 20px;
    background: transparent;
    /* outline: 2px solid white; */
    color: white;
    display: flex;
    /* flex-direction: column; */
    /* justify-content: flex-end; */
}
a {
    text-decoration: none;
    color: inherit;
}
.navWrapper div {
    font-family: "Poppins";
    display: flex;
    align-items: center;
    /* writing-mode: vertical-rl; */
    width: auto;
    padding: 0 16px 0 16px;
    /* border-bottom: 2px solid white; */
    cursor: pointer;
}
.navWrapper.slateTheme {
    background: white;
}
.navWrapper.slateTheme div {
    color: var(--slate-black);
}
.brand {
    font-family: 'autography' !important;
    font-size: 40px;
    font-weight: bolder;
    padding-top: 24px;
    color: var(--slate-black);
}
.navWrapper div:hover{
    color: var(--secondary-blue);
}
.noWrap {
    width: max-content;
}