.projects {
    position: relative;
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 80px 70px 50px 70px;
    background: white;
    color: var(--slate-black);
}
.projects h1 {
    left: 70px;
    font-size: 10rem;
    margin: 0;
}
.projectsWrapper {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto auto auto;
}