.projects {
    position: relative;
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 80px 70px 50px 70px;
    color: var(--slate-black);
    font-family: 'poppins';
}
.darkMode.projects {
    color: white;
    background: #020202;
}

.projects h1 {
    left: 70px;
    font-size: 10rem;
    margin: 0;
}

.projectsWrapper {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto auto;
    grid-gap: 44px;
}

.btnWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}

.githubRepoBtnWrapper:hover {
    cursor: pointer;
    background: var(--secondary-blue);
}

.githubRepoBtnWrapper {
    width: 150px;
    background: var(--slate-black);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 8px;
    border-radius: 20px;
    padding: 8px 16px;
    transition: ease-in-out .3s;
}

.githubRepoBtnWrapper p {
    margin: 0
}

.githubRepoBtnWrapper svg {
    width: 20px;
    height: 20px;
}

@media screen and (max-width: 770px) and (min-width: 200px) {
    .projects {
        padding: 80px 20px 50px 20px;
    }
    .projectsWrapper {
        grid-template-columns: auto
    }

    .projects h1 {
        left: 70px;
        font-size: 3rem;
    }
}

@media screen and (max-width: 1000px) and (min-width: 770px) {
    .projectsWrapper {
        grid-template-columns: auto auto
    }

    .projects h1 {
        left: 70px;
        font-size: 8rem;
    }
}